/* ================= STUDENT CSS ================= */


body{

background:#f8f9fa;

}



/* Student Sidebar */


.student-sidebar{

min-height:100vh;
background:#212529;
padding:20px;

}


.student-sidebar a{

color:white;
display:block;
padding:12px;
margin-bottom:10px;
text-decoration:none;
border-radius:8px;

}



.student-sidebar a:hover{

background:#0d6efd;

}





/* Profile Image */


.profile-img{

width:120px;
height:120px;
border-radius:50%;
object-fit:cover;

}





/* Student Cards */


.student-card{

text-align:center;
padding:25px;
border-radius:15px;

}



.student-card i{

font-size:35px;

}




/* Fee Status */


.paid{

color:green;
font-weight:bold;

}


.pending{

color:red;
font-weight:bold;

}
