/* ================= GENERAL STYLE ================= */

body{
    font-family: 'Segoe UI', sans-serif;
    background:#f8f9fa;
}


/* Navbar */

.navbar-brand img{
    object-fit:cover;
}


.nav-link{
    font-weight:500;
}


.nav-link:hover{
    color:#ffc107 !important;
}



/* Cards */

.card{
    border:none;
    border-radius:15px;
}


.card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}


/* Buttons */

.btn{
    border-radius:8px;
}


/* Footer */

footer{
    margin-top:50px;
}


/* Contact Page */

.contact-icon{
    font-size:25px;
}



/* Responsive */

@media(max-width:768px){

.card{
    margin-bottom:20px;
}

}